@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}

.floating-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    animation: float 3s ease-in-out infinite;
}
